{% extends 'recommend/base.html'%}

{% block title %}{{user.username}}{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <img src="https://via.placeholder.com/150" alt="{{ user.username }}">
        </div>
        <div>
            <label>Name</label>
            <div style="color: #ffffff; margin-bottom: 2em;">{{user.username}}</div>
        </div>
        <div>
            <label>E-mail</label>
            <div style="color: #ffffff;">{{user.email}}</div>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <button>
            Back
        </button>
    </div>
</div>
{% endblock %}