{% extends 'recommend/base.html'%}
{% block title %} Users List {% endblock %}
{% block body %}
    <p style="text-align:left;">
        <span style="float:right;">
            <h2>Users List</h2>
        </span>
    </p>
    <hr>    
    <br>
    <div class="row" >
        {% if users %}
            {% for user in users %} 
                <div class="user_row" style="padding: 10px 32px; display:flex; align-items:flex-start">
                    <div class="thumbnail" style="border-radius: 22px 22px 22px 22px; width:12em; margin-right:45px">
                        <center><h5>{{user.username}}</h5></center>
                    </div>
                    <div class="thumbnail" style="border-radius: 22px 22px 22px 22px; width:20em; margin-right:45px">
                        <center><h5>{{user.email}}</h5></center>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}